DISCORD_TOKEN=YOUR_DISCORD_TOKEN
PREFIX=YOUR_PREFIX
GUILD_ID=YOUR_GUILD_ID
CLIENT_ID=YOUR_CLIENT_ID
OWNER_ID=YOUR_DISCORD_USER_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
SESSION_SECRET=ANY_RANDOM_STRING
DASHBOARD_URL=http://localhost:3000
DASHBOARD_PORT=3000